*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(images/web.jpg);
}

.navbar-brand {
	font-size: 25px;
	text-align: left;
	
}

.nemo {
	color: orange;

}

.container {
	width: 50%;
	margin: auto;
	text-align: center;
    
}

.card-body {
	background-image: url(images/madera.jpg);
	color: #fff;
}

.bg-light{
	background-image: url(images/web.jpg);
	color: #ec3f19;
	font-size: 30px;
}